@font-face { font-family: "OpenDyslexic"; src: url('https://dl.dropboxusercontent.com/s/qfpakpjedhsrdb9/OpenDyslexicAlta-Regular.ttf'); } 

pdf.active {
  font-family: OpenDyslexic;
}

.evitement {
  color: #555;
  background: #fff;
  position: absolute;
  left: -99999rem;
  z-index: 100
}

.evitement:focus {
  left: 0;
  padding: 1em
}

body {
  color: white;
  background: black;
}

:focus {
  outline: 4px solid blue
}

#outils {
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 20px
}

#changeTaille, #fileName, #choix {
  color: black
}

#back, #front, #boutonsImages {
  margin: 0.5em
}

#police {
  display: 'flex'
}

#choixProfil {
  display: flex;
  justify-content: center;
  marginBottom: 3em
}