@font-face {
    font-family: "OpenDyslexic";
    src: url("https://dl.dropboxusercontent.com/s/qfpakpjedhsrdb9/OpenDyslexicAlta-Regular.ttf");
}

#boutonsLargeur {
    display: flex;
    margin: 0.5em;
}

#elements {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
    align-items: center;
}

#boutons {
    display: flex;
    flex-direction: row;
}

#colorBack,
#colorFront,
#interlignes {
    color: black;
}

#boutonOpenDys {
    font-family: OpenDyslexic;
}

#boutonSerif {
    font-family: serif;
}

#boutonMonospace {
    font-family: monospace;
}

#boutonCursive {
    font-family: cursive;
}